.footer{
    a{
        color: #676764;
        text-decoration: none;
        font-weight: 700;
    }
    .footer-top{
        min-height: 45px;
        border-top: 2px dashed #eeebdc;
        border-bottom: 2px dashed #eeebdc;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        img{
            height: 40px;
        }
        div:first-child{
            border-left: 0px; 
        }
        div{
            text-align: center;
            border-left: 1px solid #676764;
        }
    }
    .footer-bottom{
        min-height: 63px;
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
        justify-content: space-between;
        .bottom-left{
            padding-left: 20px;
        }

        .bottom-right{
            .row{
                width: 100%;
            }
            div:first-child{
                border-left: 0px; 
            }
            div{
                text-align: center;
                border-left: 1px solid #676764;
            }
        }
    }
    
}