
.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 5px #676764;
    width: 100%;
    // top: 0px;
    padding: 0 15px 0 15px;
    justify-content: space-around;
    .logo{
        img{
            height: 60px;
        }
    }
    .header-navigation{
        ul{
            display: flex;
            align-items: center;
            margin: 0px;
            padding-left: 0px;
            li{
                list-style: none;
                margin-right: 10px;
                padding-left: 10px;
                font-weight: 300;
                a{
                    color: #676764;
                    text-decoration: none;
                }
            }
        }
    }
}
